*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #ffefba, #ffffff);
    font-family: Lato, sans-serif;
    min-height: 100vh;
    padding: clamp(20px, 5vw, 50px) 20px 10px;
}

h1 {
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 50px;
    text-align: center;
}

h1 strong {
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

.input-group:nth-child(2) {
    margin-top: 30px;
}

.container label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

.container input {
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: block;
    font-size: 18px;
    padding: 10px;
    width: 100%;
}

.btns-container {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

form button {
    background: #006c67;
    border: none;
    border-radius: 5px;
    color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
    min-width: 100px;
    padding: 10px 5px;
}

.info-txt {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.cookies-list {
    display: grid;
    font-size: 40px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style-type: none;
    margin: 10px auto;
    padding: 5px 0;
}

.cookies-list li {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    padding: 10px;
    position: relative;
}

.cookies-list li p {
    margin: 10px;
}

.cookies-list li button {
    background: crimson;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 12px;
    height: 20px;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 20px;
}

.cookies-list li p span {
    font-weight: 400;
}

.toasts-container {
    bottom: 20px;
    position: fixed;
    right: 20px;
}

.toast {
    border-radius: 2px;
    color: #f1f1f1;
    font-size: 17px;
    margin: 10px 0;
    min-width: 150px;
    padding: 10px;
}